<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!-- Try to prevent caching -->
    <meta http-equiv="Cache-Control" content="no-store" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store" />

    <title>Scomp Link Access</title>
  </head>

  <body>

    <!-- Third Party -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src='js/angular.1.4.8.min.js'></script>
    <script src='js/select.min.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="ui-bootstrap-tpls-1.1.0.min.js.css"></script>
    <script src="js/angular-ui.min.js"></script>
    <script src="js/angular-sanitize.js"></script>

    <!-- Main App -->
    <script src="js/app.js"></script>
    <script src="js/CardSearchController.js"></script>
    <script src="js/CDFService.js"></script>
    <script src="js/ExportService.js"></script>
    <!--<script src="js/SWIPExportService.js"></script>-->
    <script src="js/SWIPService.js"></script>
    <script src="js/onLoadError.js"></script>
    <script src="js/onLoadSuccess.js"></script>
    <script src="js/outsideClick.js"></script>


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/cardSearch.css">
    <link rel="stylesheet" type="text/css" href="css/select.min.css">


    <!-- Content -->
    <div ng-app="cardSearchApp" ng-controller="CardSearchController" class="cs-main">


    <!--
    <button data-ng-click="exportLightCdf()">Export Light CDF</button>
    <button data-ng-click="exportDarkCdf()">Export Dark CDF</button>
    <button data-ng-click="exportSWIP()">Export SWIP</button>
    -->

      <div class="cs-title">
        <div class="cs-title-holder">
          <span>
            <img src="./scomp.png" class="cs-logo-image"> Scomp Link Access
          </span>
        </div>
      </div>
      <hr class="cs-title-divider">

      <div data-ng-if="data.selectedCard != null"
           class="cs-card-preview-pane"
           data-ng-click="hideCardData()"
           outside-click="hideCardData">

        <!-- Extra Card Data -->
        <div data-ng-if="data.selectedCard != null" class="cs-extra-data" data-ng-click="clickedCardData($event)">
          <div class="cs-extra-card-data-title">
            Extra Card Data
          </div>
          <div class="" data-ng-if="data.showExtraData">
            <div data-ng-if="!hasExtraData(data.selectedCard)" class="cs-no-extra-data">
              No Additional Information
            </div>

            <div class="cs-extra-data-column" data-ng-if="data.selectedCard.pulls">
              <div class="cs-extra-data-label">Pulls:</div>
              <div data-ng-repeat='pull in data.selectedCard.pulls'>
                {{pull}}
              </div>
              <!--<div data-ng-bind-html='data.selectedCard.pulls | to_trusted' class="cs-exta-data-block"></div>-->
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.pulledBy">
              <div class="cs-extra-data-label">Pulled By:</div>
              <div data-ng-repeat='pulledBy in data.selectedCard.pulledBy'>
                {{pulledBy}}
              </div>
              <!-- <div data-ng-bind-html='data.selectedCard.pulledBy | to_trusted' class="cs-exta-data-block"></div> -->
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.counterpart">
              <div class="cs-extra-data-label">Counterpart:</div>
              <div data-ng-bind-html='data.selectedCard.counterpart | to_trusted' class="cs-exta-data-block"></div>
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.combo">
              <div class="cs-extra-data-label">Combo:</div>
              <div data-ng-repeat='combo in data.selectedCard.combo' class="cs-combo-block">
                {{combo}}
              </div>
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.matching">
              <div class="cs-extra-data-label">Matching:</div>
              <div data-ng-repeat='matching in data.selectedCard.matching'>
                {{matching}}
              </div>
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.matchingWeapon">
              <div class="cs-extra-data-label">Matching Weapon:</div>
              <div data-ng-repeat='matchingWeapon in data.selectedCard.matchingWeapon'>
                {{matchingWeapon}}
              </div>
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.canceledBy">
              <div class="cs-extra-data-label">Canceled By:</div>
              <div data-ng-repeat='canceledBy in data.selectedCard.canceledBy'>
                {{canceledBy}}
              </div>
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.cancels">
              <div class="cs-extra-data-label">Cancels:</div>
              <div data-ng-repeat='cancels in data.selectedCard.cancels'>
                {{cancels}}
              </div>
            </div>
            <div class=" cs-extra-data-column" data-ng-if="data.selectedCard.abbreviation">
              <div class="cs-extra-data-label">Abbreviation:</div>
              <div data-ng-bind-html='data.selectedCard.abbreviation | to_trusted' class="cs-exta-data-block"></div>
            </div>
          </div>

        </div>


        <!-- Text Card Display -->
        <div data-ng-if="data.textOnly || data.imageLoadFailure" class="cs-card-preview-overlay">
          <div data-ng-click="selectCard(null)">
            <div class="cs-card-preview-text-only" data-ng-click="swallow($event)">
              <div class="cs-card-type">{{data.selectedCard.front.type}}</div>
              <div class="cs-card-title">{{data.selectedCard.front.title}}</div>
              <div class="cs-card-lore">{{data.selectedCard.front.lore}}</div>
              <div class="cs-card-destiny">{{data.selectedCard.front.destiny}}</div>
              <div class="cs-card-subtype">{{data.selectedCard.front.subType}}</div>
              <div class="cs-card-power" data-ng-if="data.selectedCard.front.power != null">Power: {{data.selectedCard.front.power}}</div>
              <div class="cs-card-ability" data-ng-if="data.selectedCard.front.ability != null">Ability: {{data.selectedCard.front.ability}}</div>
              <div class="cs-card-ability" data-ng-if="data.selectedCard.front.maneuver != null">Maneuver: {{data.selectedCard.front.maneuver}}</div>
              <div class="cs-card-ability" data-ng-if="data.selectedCard.front.armor != null">Armor: {{data.selectedCard.front.armor}}</div>
              <div class="cs-card-hyperspeed" data-ng-if="data.selectedCard.front.hyperspeed != null">Hyperspeed: {{data.selectedCard.front.hyperspeed}}</div>
              <div class="cs-card-hyperspeed" data-ng-if="data.selectedCard.front.landspeed != null">Landspeed: {{data.selectedCard.front.landspeed}}</div>


              <div class="cs-card-deploy">{{data.selectedCard.front.deploy}}</div>
              <div class="cs-card-forfeit">{{data.selectedCard.front.forfeit}}</div>
              <div class="cs-card-gametext">{{data.selectedCard.front.gametext}}</div>
            </div>
          </div>
        </div>

        <!-- Image Display -->
        <div data-ng-if="!data.textOnly && !data.imageLoadFailure" class="cs-card-preview-overlay">
          <div class="cs-card-preview-image">
            <div data-ng-if="data.selectedCard.links.length == 1">
              <img class="cs-card-image" align="right" ng-src="{{data.selectedCard.links_large[0]}}" on-load-error="onImageLoadError" on-load-success="onImageLoadSuccess">
            </div>
            <div data-ng-if="data.selectedCard.links.length > 1">
              <img class="cs-card-image-multiple" align="right" data-ng-repeat="link in data.selectedCard.links_large | orderBy:'$index':true" ng-src="{{link}}">
            </div>
          </div>
        </div>


      </div>


      <div class="row cs-row-full-width">

        <!-- Search Pane -->
        <div class="col-xs-4 col-md-3 cs-search-pane">

          <!-- Side -->
          <div class="cs-searchField cs-first-one">
            <div class="cs-searchLabel">Side</div>
            <select data-ng-model="search.side" class="cs-search-input" data-ng-change="searchIfNotEmpty()">
              <option value="ALL">Any</option>
              <option value="LIGHT">Light</option>
              <option value="DARK">Dark</option>
            </select>
          </div>


          <!-- Type -->
          <div class="cs-searchField">
            <div class="cs-searchLabel">Type</div>
            <select data-ng-model="search.type" class="cs-search-input" data-ng-change="searchIfNotEmpty()">
              <option value="ALL">Any</option>
              <option value="ADMIRALS_ORDER">Admiral's Order</option>
              <option value="CHARACTER">Character</option>
              <option value="CREATURE">Creature</option>
              <option value="DEFENSIVE_SHIELD">Defensive Shield</option>
              <option value="DEVICE">Device</option>
              <option value="EFFECT">Effect</option>
              <option value="EPIC_EVENT">Epic Event</option>
              <option value="INTERRUPT">Interrupt</option>
              <option value="JEDI_TEST">Jedi Test</option>
              <option value="LOCATION">Location</option>
              <option value="OBJECTIVE">Objective</option>
              <option value="PODRADER">Podracer</option>
              <option value="STARSHIP">Starship</option>
              <option value="VEHICLE">Vehicle</option>
              <option value="WEAPON">Weapon</option>
            </select>
          </div>

          <!-- Search Field -->
          <div class="cs-searchField">
            <div class="cs-searchLabel">Search In</div>
            <select data-ng-model="search.searchField" class="cs-search-input" data-ng-change="searchIfNotEmpty()">
              <option value="ALL">Any</option>
              <option value="TITLE">Title</option>
              <option value="GAMETEXT">Gametext</option>
              <option value="LORE">Lore</option>
            </select>
          </div>



          <!-- Search Text -->
          <div class="cs-searchField">
            <div class="cs-searchLabel">Search Text</div>
            <input data-ng-model="search.text"
                   class="cs-search-input"
                   placeholder="Enter Search Text Here..."
                   data-ng-keydown="$event.keyCode == 13 ? doSearch() : null"  >
          </div>


          <!-- Search Button -->
          <div class="cs-searchField cs-search-buttons">

            <button data-ng-click="clearSearch()" class="btn cs-card-search-button hyperstyle pull-left">Reset Search</button>
            <button data-ng-click="doSearch()" class="btn btn-primary cs-card-search-button pull-right">Search</button>

            <div class="clearfix"></div>
            <!-- <button data-ng-click="advancedSearchBuilder()" class="btn btn-primary cs-card-search-button">Advanced Search</button> -->
          </div>

          <div class="cs-advanced-panel" data-ng-if="data.cardFields.length > 0">

            <div class="cs-advanced-panel-title">
              Advanced Filters
            </div>



            <!-- Search Fields -->
            <div class="cs-searchLabel">Filter Field</div>
            <select ng-model="data.advancedField" class="form-control input-sm" id="cs-advanced-field-name-dropdown">
              <option ng-repeat="fieldName in data.cardFields | orderBy:'toString()'" value="{{fieldName}}">
                {{fieldName}}
              </option>
            </select>

            <!-- Operator (contains, >, =, < etc) -->
            <select ng-options="operator.name as operator.name for operator in data.operators" ng-model="data.advancedOperator" class="form-control input-sm"></select>

            <!-- Possible Values -->
            <div>
              <ui-select ng-model="data.advancedValue" theme="bootstrap" class="cs-advanced-value"
                         on-select="addAdvancedCondition($select)"
                         tagging
                         reset-search-input="false"
                         data-ng-keyup="updateAdvancedSearchText($event, $select)">
                <ui-select-match placeholder="Type or select..." >{{$select.selected}}</ui-select-match>
                <ui-select-choices repeat="possibleValue in data.cardValueMap[data.advancedField] | orderBy:'toString()' | filter: $select.search">
                  <span ng-bind-html="possibleValue | highlight: $select.search"></span>
                </ui-select-choices>
              </ui-select>
            </div>

            <div class="cs-add-filter-type">
              <label class="cs-filter-radio"><input type="radio" ng-model="data.filterAddMode" value="AND"> AND</label>
              <label class="cs-filter-radio"><input type="radio" ng-model="data.filterAddMode" value="OR"> OR</label>
              <label class="cs-filter-radio"><input type="radio" ng-model="data.filterAddMode" value="NOT"> NOT</label>
              <button class="btn btn-primary cs-card-search-button cs-advanced-buttons-small cs-add-filter-button" data-ng-click="addAdvancedCondition()">ADD</button>
              <div class="clearfix"></div>
            </div>

            <hr class="cs-hr-skinny">

            <div class="cs-current-filter-text">
              Current Filter:
            </div>
            <div data-ng-if="data.advancedConditions.length == 0" class="cs-current-filter-none">
              None
            </div>
            <div class="cs-advanced-summary" data-ng-if="data.advancedConditions.length > 0">
              <div data-ng-repeat="condition in data.advancedConditions"
                   data-ng-class="{'cs-condition-selected': condition.selected}"
                   data-ng-click="selectCondition(condition)">
                {{ conditionToString(condition) }}
              </div>
            </div>
            <div data-ng-if="data.advancedConditions.length > 0">
              <div class="row">
                <div class="col-xs-6">
                  <button class="btn btn-danger cs-filter-red-button cs-card-search-button" data-ng-click="clearFilter()">Clear</button>
                </div>
                <div class="col-xs-6">
                  <button class="btn btn-danger cs-filter-red-button cs-card-search-button" data-ng-click="removeCondition()">Remove</button>
                </div>
              </div>
            </div>

            <label style="margin-top: 2em">Text-Only Display <input type="checkbox" name="checkbox" ng-model="data.textOnly"></label>

            <div style="font-size: 0.75em; margin-top: 1em; margin-bottom: 1em;">Version 2.0.3</div>
          </div>

          <!-- Preview Mode -->
          <!--
          <div class="cs-display-mode-toggle">
            <label style="font-weight: normal">Show Text Instead of Images <input type="checkbox" name="checkbox" ng-model="data.textOnly"></label>
          </div>
        -->

        </div>

        <!-- Results Pane -->
        <div class="col-xs-8 col-md-9 cs-search-results-pane">
          <!-- <div class="cs-search-results-label">Search Results</div> -->
          <div class="row cs-search-results-header">
            <div class="col-xs-4 cs-colored-column cs-color-1">
              Card Name
            </div>
            <div class="col-xs-1 cs-color-2">
              Side
            </div>
            <div class="col-xs-1 cs-colored-column cs-color-1">
              Set
            </div>
            <div class="col-xs-1 cs-color-2">
              Type
            </div>
            <div class="col-xs-3 cs-colored-column cs-color-1">
              Sub Type
            </div>
            <div class="col-xs-1 cs-color-2">
              Rare
            </div>
            <div class="col-xs-1 cs-colored-column cs-color-1">
              Destiny
            </div>
          </div>

          <div data-ng-if="data.loadingLight || data.loadingDark" class="cs-loading-data">
            Loading...
          </div>

          <div data-ng-if="!data.loadingLight && !data.loadingDark && !data.performedSearch" class="cs-loading-data">
            Enter search parameters and click "Search"
          </div>

          <div data-ng-if="!data.loadingLight && !data.loadingDark && data.noResultsFound" class="cs-loading-data">
            No Matches Found
          </div>

          <div class="row cs-card-result" data-ng-repeat="card in data.matches track by $index"
               data-ng-class="{'cs-card-result-selected': card == data.lastSelectedCard}">
            <div class="col-xs-4 cs-link cs-colored-column cs-color-1" data-ng-click="selectCard(card, $event)">
              {{card.front.title}}
            </div>
            <div class="col-xs-1 cs-color-2">
              {{card.side}}
            </div>
            <div class="col-xs-1 cs-colored-column cs-color-1">
              {{card.setAbbreviation}}
            </div>
            <div class="col-xs-1 cs-color-2">
              {{card.front.type}}
            </div>
            <div class="col-xs-3 cs-colored-column cs-color-1">
              <div>
                {{card.front.subType}}
              </div>
            </div>
            <div class="col-xs-1 cs-color-2">
              {{card.rarity}}
            </div>
            <div class="col-xs-1 cs-colored-column cs-color-1">
              {{card.front.destiny}}
            </div>
          </div>

          <div class="cs-result-count" data-ng-if="data.matches.length > 0">
            Match Count: {{data.matches.length}}
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
